# Virtual Environment
venv/
.env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings (optional)
.vscode/

# Mac / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log